<div class="page-container">

<h1>LinkedIn Post Generator</h1>

<br>
<mat-card class="form-card">

<mat-form-field appearance="outline" class="full-width">
    <mat-label>Topic</mat-label>
    <input matInput placeholder="Topic" [(ngModel)]="topic" />
</mat-form-field>

    <br><br>

<mat-form-field appearance="outline" class="full-width">
    <mat-label>Audience</mat-label>
    <input matInput placeholder="Audience" [(ngModel)]="audience" />
</mat-form-field>

    <br><br>


<mat-form-field appearance="outline" class="full-width">
    <mat-label>Tone</mat-label>
    <mat-select [(ngModel)]="tone">
        <mat-option value="Professional">Professional</mat-option>
        <mat-option value="Gen-Z">Gen-Z</mat-option>
        <mat-option value="Founder">Founder</mat-option>
        <mat-option value="Corporate">Corporate</mat-option>
        <mat-option value="Motivational">Motivational</mat-option>
    </mat-select>
</mat-form-field>
<!-- <select [(ngModel)]="tone">
    <option>Professional</option>
    <option>Gen-Z</option>
    <option>Founder</option>
    <option>Corporate</option>
    <option>Motivational</option>
</select> -->

    <br><br>


<mat-form-field appearance="outline" class="full-width">
    <mat-label>Length</mat-label>
    <mat-select [(ngModel)]="length">
        <mat-option value="Short">Short</mat-option>
        <mat-option value="Medium">Medium</mat-option>
        <mat-option value="Long">Long</mat-option>
    </mat-select>
</mat-form-field>

    <br><br>

<h2>Generated Post</h2>

<button mat-raised-button color="primary" class="generate-btn" (click)="generatePost()"
    [disabled]="isLoading">
    {{ isLoading ? 'Generating...' : 'Generate Post' }}</button>

</mat-card>

@if (isLoading) {
    <!-- <h3>🚀 AI is generating your LinkedIn post...</h3> -->
     <div class="spinner-container">
        <mat-progress-spinner diameter="50"></mat-progress-spinner>
        <p>🚀 AI is generating your LinkedIn post...</p>
     </div>
}

<mat-card class="result-card">
    
    {{ generatedPost }}

</mat-card>

<!-- <button
  mat-stroked-button
  color="accent"
  (click)="copyPost()">

  📋 Copy Post

</button> -->


</div>
