.page-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.result-card {
    margin-top: 20px;
    padding: 24px;
    min-height: 300px;

    width: 100%;

    white-space: pre-wrap;

    background: #1e293b;
    color: white;

    border-radius: 20px;
}

.form-card {
  padding: 24px;

  background: #1e293b;

  margin-bottom: 20px;

  border-radius: 20px;
}

.generate-btn {
  width: 250px;
  height: 50px;

  font-size: 16px;
  font-weight: 600;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}


/* copyPost() {
  navigator.clipboard.writeText(this.generatedPost);
} */