<h1>LinkedIn Post Generator</h1>

<br>

<input
    type="text"
    placeholder="Topic"
    [(ngModel)]="topic" />

    <br><br>

<input
    type="text"
    placeholder="Audience"
    [(ngModel)]="audience" />

    <br><br>

<select [(ngModel)]="tone">
    <option>Professional</option>
    <option>Gen-Z</option>
    <option>Founder</option>
    <option>Corporate</option>
    <option>Motivational</option>
</select>

    <br><br>


<select [(ngModel)]="length">
    <option>Short</option>
    <option>Medium</option>
    <option>Long</option>
</select>

    <br><br>

<h2>Generated Post</h2>

<div
    style="
    border: 2px solid red;
    padding: 20px;
    white-space: pre-wrap;
    min-height: 300px;
    width: 900px">
    {{ generatedPost }}    
</div>