
/* 
body {
  background:
  radial-gradient(
    circle at top right,
    rgba(134,239,172,.18),
    transparent 30%
  ),

  radial-gradient(
    circle at bottom left,
    rgba(59,130,246,.15),
    transparent 35%,
  ),

  linear-gradient(
    135deg,
    #f8fafc,
    #eef6ff,
    #f0fdf4
  );

  min-height: 100vh;
} */

body {

  background:
    linear-gradient(
      135deg,
      #eef6ff,
      #f8fafc,
      #f3f0ff
    );

  position:relative;

  overflow-x:hidden;
}
body::before {

  content:"";

  position:fixed;

  width:600px;
  height:600px;

  top:-200px;
  left:-200px;

  background:
    radial-gradient(
      circle,
      rgba(96,165,250,.25),
      transparent
    );

  filter:blur(100px);

  z-index:-1;
}

@keyframes floatGlow {
  0% {
    transform: translate(-100px, 50px);
  }

  50% {
    transform: translate(100px, 50px);
  }

  100% {
    transform: translate(-100px, -50px);
  }
}

body::after {

  content:"";

  position:fixed;

  width:600px;
  height:600px;

  right:-250px;
  bottom:-250px;

  background:
    radial-gradient(
      circle,
      rgba(167,139,250,.25),
      transparent
    );

  filter:blur(100px);

  z-index:-1;
}

